spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/ticket_system}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgre1234}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret: my-super-secret-key
  expiration: 86400000 # 1 day in milliseconds

server:
  port: 8080

logging:
  level:
    org:
      springframework:
        security: DEBUG
